<!DOCTYPE html>
<html lang="en">
	<!-- header -->
	<%- include('./partials/head') %> 
<doby>
<head>
	<div class="navbar">
		<div class="logo">
			<h1>Travel</h1>
		</div>
		<div class="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Places</a></li>
				<li><a href="#">Discounts</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Booking</a></li>
			</ul>
		</div>
		<div class="login">
			<a href="/login">LogIn</a>
		</div>
	</div>

	<div class="body">
		<% Object.values(tours).forEach(function(item){%>
		<div class="tours">
			<div class="places">
				<h2><%=item.name%></h2>
				<p><%=item.description%></p>
				<br>
				<a href="/tour/<%=item._id%>">Learn more</a>
			</div>
		</div>
		<% }) %>
	</div>	
	<!-- footer -->
	<%- include('./partials/footer') %> 
</body>
</html>
